@media screen and (max-width: 1023px) {
  /* main */
  .blueBox h1 {
    font-size: 3rem;
  }

  /* modal */
  .modal_box h2 {
    font-size: 35px;
  }
  .modal_box .close {
    width: 100px;
  }

  /* img */
  .sec3_contents {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;
  }

  /* footer */
  .section5Left p {
    font-size: 14px;
  }
  .section5Right p {
    font-size: 14px;
  }
  .section5Right li {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  /* common */
  .container {
    width: 95%;
  }

  /* section1 */
  #section1 img {
    height: 50%;
  }

  .blueBox {
    width: 100%;
    height: 200px;
  }

  .blueBox h1 {
    margin: 0 auto;
    font-size: 1.5rem;
  }

  /* section2 */

  #section2 {
    margin-top: 20px;
  }

  .why_text {
    font-size: 1.2rem;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
  }

  .why_text span {
    margin-top: 30px;
  }

  /* section3 */

  #section3 {
    margin-top: 20px;
  }
  #section3 .container {
    width: 95%;
  }

  #section3 h2 {
    font-size: 2.5rem;
  }

  .sec3_contents {
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
  }

  .sec3_contents h4 {
    color: #00aefe;
    font-family: 'GmarketSansBold';
    font-size: 1.5rem;
    margin-bottom: -20px;
  }

  .sec3_stepBox {
    width: 100%;
    padding: 0 10px;
  }

  .sec3_stepBox img {
    width: 100%;
  }

  /* form section */

  .formSection p {
    text-align: center;
    font-family: 'GmarketSansMedium';
    font-size: 1.5rem;
  }

  /* 문의하기 폼 스타일링 */
  .formSection {
    margin-bottom: 0;
  }

  .formSection h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .formSection > p {
    font-size: 1.2rem;
  }

  .form {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
  }

  .form input:not(.checkBox input) {
    padding-left: 55px;
  }

  .form textarea {
    padding-left: 55px;
  }

  /* checkbox */

  #footer .section5 {
    display: none;
  }

  .section5Left {
    width: 70%;
  }

  .section5Left p {
    font-size: 0.7rem;
    padding-top: 20px;
  }

  .section5Right {
    width: 80%;
    margin: 20px 0;
  }

  .section5Right ul {
    font-size: 0.5rem;
    margin: 0;
    display: flex;
  }

  .section5Right ul p {
    color: #fff;
    margin-right: 20px;
    white-space: nowrap;
  }

  .line {
    color: #fff;
    margin-right: 10px;
  }

  .section5Right li {
    font-family: 'GmarketSansLight';
    word-break: keep-all;
    color: #fff;
    list-style: none;
  }

  /* footer */
  #footer {
    flex-direction: column;
  }

  .footerLine {
    display: none;
  }

  .footerContents {
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
  }

  #footer p {
    color: lightgrey;
  }

  h2 {
    margin-top: 20px;
  }

  /* modal */

  #modal .modal_box {
    height: 500px;
  }

  .modal_box h2 {
    padding: 20px 0px;
    margin: 0;
    font-size: 25px;
  }

  .modal_box .text_box {
    width: 90%;
  }

  .modal_box .close {
    width: 30%;
  }
}

@media (max-width: 320px) {
  :root {
    font-size: 11px;
  }
  .footerContents {
    width: 100%;
  }
  .blueBox h1 {
    font-size: 2rem;
  }
  .blueBox h1 strong {
    display: block;
  }
}
