* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2f2b6b;
  font-family: 'GmarketSansMedium';
}

/* FONT */
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* loading */
.redirect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/*  */
body.modal_open {
  overflow: hidden;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-family: 'GmarketSansBold';
  margin-top: 50px;
  font-size: 4rem;
  text-align: center;
}

input {
  padding: 20px;
  font-family: 'GmarketSansMedium';
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
select {
  padding: 20px;
  font-family: 'GmarketSansMedium';
  width: 100%;
  margin-top: 20px;
  padding-left: 66px;
  font-size: 1.5rem;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  font-family: 'GmarketSansMedium';
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
input::placeholder {
  color: #2f2b6b;
}
textarea::placeholder {
  color: #2f2b6b;
  font-weight: 100;
}

/* section1 */
#section1 {
  width: 100%;
}

#section1 img {
  width: 100%;
}

.blueBox {
  width: 100%;
  padding: 4rem;
  background: #2f2a6a;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blueBox_container {
  width: 90%;
}

.blueBox h1 {
  font-family: 'GmarketSansBold';
  color: #fff;
  font-size: 5rem;
  text-align: center;
  word-break: keep-all;
}

.blueBox strong {
  color: #00aefe;
  font-family: 'GmarketSansBold';
}

/* section2 */
#section2 {
  margin-top: 100px;
}

#section2 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec2_contents_why {
  margin: 100px 0;
}

.why_text {
  font-family: 'GmarketSansMedium';
  font-size: 1.5rem;
  word-break: keep-all;
}

.why_text strong {
  color: #00aefe;
  font-weight: normal;
}

.why_text span {
  display: block;
  color: #7777;
}

/* section3 */
#section3 {
  margin: 5rem 0;
}

#section3 h2 {
  margin-bottom: 50px;
}

#section3 .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.sec3_contents img {
  width: 100%;
}

.sec3_contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.sec3_contents h4 {
  color: #00aefe;
  font-family: 'GmarketSansBold';
  font-size: 2rem;
  margin-bottom: -20px;
}

/* form section */
.formSection h2 {
  margin-bottom: 20px;
}

.formSection p {
  text-align: center;
  font-family: 'GmarketSansMedium';
  font-size: 1.5rem;
}

/* 문의하기 폼 스타일링 */
.formSection {
  margin: 10rem 0;
}

.form {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.form input:not(.checkBox input) {
  width: 100%;
  margin-top: 20px;
  padding-left: 66px;
  font-size: 1.5rem;
}

.forminputbox {
  width: 100%;
  position: relative;
}

.form textarea {
  margin-top: 20px;
  padding-left: 66px;
  font-size: 1.5rem;
  resize: none;
}

/* icon design */
.formicon {
  font-size: 30px;
  position: absolute;
  top: 47%;
  left: 3%;
  color: #696969;
}
.formicon.last {
  top: 20%;
}

/* checkbox */
.checkBox {
  margin: 20px 0;
  font-size: 1.2rem;
}

.checkBox a {
  text-decoration: none;
  font-family: 'GmarketSansBold';
}

.cursorPoint {
  cursor: pointer;
}

/* modal */

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
}
/* 
#modal .modal_box {
  background-color: #fff;
  height: 70vh;
  min-height: 650px;
  width: 40%;
  border: 1px solid #000;
  border-radius: 20px;
} */

#modal .modal_box {
  width: 90%;
  height: 570px;
  max-width: 550px;
  background-color: #fff;
  background: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal_box h2 {
  padding: 20px 0px;
  margin: 0;
  font-size: 40px;
}

.modal_box .text_box {
  border: 1px solid #000;
  width: 80%;
  max-height: 65%;
  margin: 0 auto;
  padding: 10px;
  overflow: scroll;
}

.modal_box .text_box h4 {
  text-align: left;
  font-weight: bold;
}

.modal_box .text_box .policy_text {
  font-size: 15px;
  text-align: left;
  font-weight: 100;
}

.modal_box .text_box .policy_list {
  margin-left: 5%;
  font-size: 15px;
  text-align: left;
}

.modal_box .close {
  background: rgb(46, 156, 215);
  padding: 10px 20px;
  width: 20%;
  border-radius: 5px;
  margin: 20px auto;
  color: #000;
}

.formSection button {
  width: 100%;
  padding: 20px;
  background: #00aeff;
  font-size: 2rem;
  color: #fff;
  font-family: 'GmarketSansMedium';
}

.section5Left {
  width: 70%;
}

.section5Left p {
  font-family: 'GmarketSansLight';
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
}

.section5Left strong {
  color: #fff;
}

.section5Right ul {
  font-size: 1rem;
  margin: 15px 0;
  display: flex;
}

.section5Right ul p {
  color: #fff;
  margin-right: 20px;
  white-space: nowrap;
}

.line {
  color: #fff;
  margin-right: 10px;
}

.section5Right li {
  font-family: 'GmarketSansLight';
  word-break: keep-all;
  color: #fff;
  list-style: none;
  font-size: 10px;
}

/* footer */
#footer {
  background: #2f2a6a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

#footer .footercontainer {
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

.footerLine {
  border: 1px solid lightgray;
  width: 1px;
  height: 100px;
}

#footer .section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex: 1;
}

.footerContents {
  padding: 30px;
  text-align: center;
}

#footer p {
  color: lightgrey;
  font-size: 10px;
}

/* usa  */
.why_text.usa span {
  font-size: 1.9rem;
  margin-top: 20px;
}

.footerRight.usa ul p {
  font-size: 22px;
  flex: 1 1 25%;
}

.footerRight.usa li {
  font-size: 18px;
}

/* rus */

.why_text.rus span {
  font-size: 1.8rem;
}

.footerRight.rus ul p {
  flex: 1 1 30%;
}

.footerRight.rus li {
  flex: 1 1 50%;
}

/*  */
.hidden {
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: -1;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
.mobileImg {
  display: none;
}
